# Iris Dataset

This notebook contains information (description & examples) about the Iris Dataset, and its use within the world of machine learning.

![Image of 3 Iris flowers](images/iris-machinelearning.png)

## What is the Iris Dataset?

The Iris flower data set is a multivariate data set introduced by the British statistician and biologist Ronald Fisher in his 1936 paper _The use of multiple measurements in taxonomic problems_ which is an example of linear discriminant analysis.

The data set consists of 50 samples from each of three species of Iris:
 - Iris setosa
 - Iris virginica
 - Iris versicolor

The dataset focuses on four features which were measured from each sample:
 - The lenght of the sepals
 - The width of the sepals
 - The lenght of the petals
 - The width of the petals
 
Each measurement is measured in centimeters. Based on the combination of these four features, Fisher developed a linear discriminant model to distinguish the species from each other.

## Use of the Iris Dataset

To properly demonstrate the dataset, we will use the __pandas__ library within Python. Pandas is an open source, BSD-licensed library which provides high-performance, easy-to-use data structures and data analysis tools.<br><br>

To use the dataset, we will import it from an external source. We will also import the pandas library. We will also import the __seaborn__ library which allows us to create more visual pleasing graphs.

In [1]:
# Imports
import pandas as pd
import seaborn as sb

In [2]:
# Retrieve dataset from external URL
df = pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")

In [4]:
# Output dataset
print(df)

# Class distribution of the data set
print(df.groupby('species').size())

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]
species
setosa        50
versicolor    50
virginica     50
dtype: int64

Within this dataset, there is 50 of each species of iris. Each row contains a numerical value for one of each feature as described above.

## Selecting Specific Data

This dataset is quite small compared to other datasets you can obtain, but relatively large none the less. Using pandas library, we can request certain and specific data from our dataset. The functions I will be giving examples are:
 - Selecting specific rows/columns
 - Selecting a certain 'snapshot' of data
 - The head function
 - The info function

### Rows/columns

We can select certain rows or columns we wish to see by using the example below:

In [5]:
df[['petal_length', 'species']]

     petal_length    species
0             1.4     setosa
1             1.4     setosa
2             1.3     setosa
3             1.5     setosa
4             1.4     setosa
5             1.7     setosa
6             1.4     setosa
7             1.5     setosa
8             1.4     setosa
9             1.5     setosa
10            1.5     setosa
11            1.6     setosa
12            1.4     setosa
13            1.1     setosa
14            1.2     setosa
15            1.5     setosa
16            1.3     setosa
17            1.4     setosa
18            1.7     setosa
19            1.5     setosa
20            1.7     setosa
21            1.5     setosa
22            1.0     setosa
23            1.7     setosa
24            1.9     setosa
25            1.6     setosa
26            1.6     setosa
27            1.5     setosa
28            1.4     setosa
29            1.6     setosa
..            ...        ...
120           5.7  virginica
121           4.9  virginica
122           6.7  virginica
123           4.9  virginica
124           5.7  virginica
125           6.0  virginica
126           4.8  virginica
127           4.9  virginica
128           5.6  virginica
129           5.8  virginica
130           6.1  virginica
131           6.4  virginica
132           5.6  virginica
133           5.1  virginica
134           5.6  virginica
135           6.1  virginica
136           5.6  virginica
137           5.5  virginica
138           4.8  virginica
139           5.4  virginica
140           5.6  virginica
141           5.1  virginica
142           5.1  virginica
143           5.9  virginica
144           5.7  virginica
145           5.2  virginica
146           5.0  virginica
147           5.2  virginica
148           5.4  virginica
149           5.1  virginica

[150 rows x 2 columns]

### Certain snapshot

It is possible to examine a certain 'section' of the dataset by using the example below. It will retrieve the data which is defined between the specified parameters.

In [8]:
df[4:10]

   sepal_length  sepal_width  petal_length  petal_width species
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

### Head function

This function is used to retrieve the top _nth_ rows of the dataset. See example:

In [9]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Note: There is also a .tail function that is used to retrieve the bottom _nth_ rows of the dataset. This is used in the same way.

### Info function

This function is considerably useful as it retrieves information about the entire dataset. See below:

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB